*{
    font-family: 'proximanova_black';
    /* outline: 1px solid limegreen; */
}
@font-face {
    font-family: 'proximanova_black';
    src: local('proximanova_black'),
         url('../fonts/proximanova_black.otf') format('woff');
}
.header-text{
    color: white;
    line-height: 4rem;
    font-size: 56px;
}
.btn-mee-six{
    color: white;
    fill: white;
    padding: 12px 24px;
}
.btn-mee-six:hover{
    color: white;
}
.bg-blue{
    background-color: #3994ff;
}
.bg-blue:hover{
    background-color: #057aff;
}
.bg-glass{
    background-color: #ffffff1a;
}
.bg-glass:hover{
    background-color: #ffffff46;
}
.premium-bg{
    background-color: #ffc34f24;
}
.premium-bg:hover{
    background-color: #fda9004e;
}

.navbar-mobile{
    display: none;
}
.logo-plugins{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm-visible {
    display: none;
}

@media screen and (max-width: 780px) {
    .mg-sm{
        margin: 0px 20px;
    }
    .sm-visible {
        display: block;
    }
    .logo-plugins{
        display: block;
    }
    .navbar-mobile{
        display: block;
        transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
        transform: translate(-100%);
        position: fixed;
        background: #171717;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .pc-nav{
        transform: translate(-1000%);
        
    }

    .hamburger{
        position: absolute;
        right: 30px;
    }
      
      .navbar-mobile.visible {
        transform: translateX(0);
      }

      .navbar-mobile.invisible{
        display: none;
      }
      

    .p-absolute{
        margin: 20px 0px;
        position: absolute;
        bottom: 0;
    }

  }
  
